{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1 class="text-center">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter Username" class="form-control">
        </div>

                
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>

        <input class="btn btn-outline-primary" type="submit" value="Login">

    </form>


    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}