{% extends 'base.html' %}

{% block content %}
<nav class="navbar" style="background-color: blue;">
    <div class="container-fluid">
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add task</button>
    </div>
</nav>


<h1 class="text-center">To Do List</h1>

<h5>Username: </h5>
<p>{{user}}</p>




<div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-info text-white" >
  
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <form style="text-align:center" id="form" onsubmit="return false;">
                    <div class="form-group">
                        {% csrf_token %}  
                        <div class="mb-md-1 mt-md-1 pb-1"></div>
                        <h3 class="fw-bold mb-2 text-uppercase">Create Task</h3>
                        <div><label>Title</label></div>
                        <div><input type="text" name="title" required></input></div>
                        <div><label>Description</label></div>
                        <div><input type="text" name="description" required></input></div>            
                        <tr >  
                            <p></p>
                            <td><button class="btn btn-outline-light btn-lg px-5" id="button" type="submit"  value="Submit">Add Task</button></td>  
                        </tr>                            
                    </div>
                </form>
            </div>
  
        </div>
    </div>
    </div>
</div>

<div class="row" id="card-row">
{% comment %} {% for task in list_task %}
<div class="col-2">
    <div class="card text-white bg-info mb-3" id="card-task">
        <div class="card-header">{{task.date}}</div>
        <div class="card-body">
            <h5 class="card-title">{{task.title}}</h5>
            <p class="card-text">{{task.deskripsi}}</p>
        </div>
    </div>
</div>

{% endfor %} {% endcomment %}
</div>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% comment %} <a href="{% url 'todolist:create_task' %}"><button class="btn btn-primary">Tambah Task Baru</button></a> {% endcomment %}
<a href="{% url 'todolist:logout' %}"><button class="btn btn-secondary">Logout</button></a>

<script>
    async function getTodolist() {
        console.log("function getTodolist passed")
        return fetch("{% url 'todolist:show_json' %}").then((res) => res.json())
    }

  async function refreshTodolist() {
    console.log("function refreshTodolist passed")
        document.getElementById("card-row").innerHTML = ""
        const wishlist = await getTodolist()
        console.log("function refreshTodolist passed2")
        let htmlString = ``
        wishlist.forEach((item) => {
          htmlString += `\n<div class="col-2">
            <div class="card text-white bg-info mb-3" id="card-task">
                <div class="card-header">${item.fields.date}</div>
                <div class="card-body">
                    <h5 class="card-title">${item.fields.title}</h5>
                    <p class="card-text">${item.fields.deskripsi}</p>
                </div>
            </div>
        </div>` 
        })
        console.log("function refreshTodolist passed3")
        document.getElementById("card-row").innerHTML = htmlString
        console.log(htmlString)
  }

  function addTodolist() {
    fetch("{% url 'todolist:add_todolist_item' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshTodolist)
      console.log(new FormData(document.querySelector('#form')))
    console.log("function addtodolist passed")
    return false
  }

  document.getElementById("button").onclick = addTodolist
  refreshTodolist()
</script>


{% endblock content %}