{% extends 'base.html' %}
{% load static %}


{% block meta %}
<title>My Watch List</title>


{% endblock meta %}

{% block content %}
<h1>My Watch List</h1>
<table>
  <thead>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
  </thead>
  {% for i in mywatchlist %}
  <tr>
    <th>{{i.watched}}</th>
    <th>{{i.title}}</th>
    <th>{{i.rating}}</th>
    <th>{{i.release_date}}</th>
    <th>{{i.review}}</th>

  </tr>

  {% endfor %}
</table>
  
{% endblock content %}